nav .navbar-brand
{
    font-size: xx-large;
    background-color: #23272A;
    color: #23272A;
}

.navbar
{
    background-color: #23272A;
    color: #23272A;
}

body 
{
    background-color: #2C2F33;
}

.table_outer 
{ 
    height: 15em; 
    overflow: auto; 
}