{% extends "layout.html" %}

{% block title %}
    Chat 1
{% endblock %}

{% block head %}
    <link href="/static/chatstyle.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <h3 class="chattitle"><strong>KVcord Chat #1</strong></h3>
    <div id="wrapper">
        <div id="menu">
            <p class="user" style="color: white; padding-left: 5px;">{{ username }}</p>
        </div>

        <div class="message_holder" style="color: white; text-align: left; padding-left: 30px;"></div>
            <form action="" method="POST">
                <input type="text" class="message" placeholder="Messages" size="115" maxlength="150"/>
                <input type="submit" style="background-color: #5865F2; color: white;"/>
            </form>  
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on( 'connect', function() {
        socket.emit( 'my event', {
        data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
        e.preventDefault()
        let user_name = $( 'p.user' ).val()
        let user_input = $( 'input.message' ).val()
        socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
        } )
        $( 'input.message' ).val( '' ).focus()
        } )
    } )
    socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
        $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
    })
    </script>
{% endblock %}